body {
  background-color: DarkSlateGray;
  color: DarkOrange;
  font-family: 'Source Sans Pro',Verdana;
}
h1 {
  color: black;
}
h2 {
  text-align: center;
}
h3 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}
img {
  width="560"
  height="315"
}
