body {
  background-color: DarkSlateGray;
  color: DarkOrange;
  font-family: 'Special Elite';
  margin: 2%
}
h1 {
  color: black;
  text-align: left;
}
h2 {
  text-align: center;
}
h3 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}

.left {
  float: left;
}

.animated-gif {
  width: 10%;
  height: auto;
}
