body {
  background-color: DarkSlateGray;
  color: DarkOrange;
  font-family: 'Special Elite';
  margin: 2%
}
h1 {
  color: black;
  text-align: left;
}
.center {
  text-align: center;
  line-height: 6;
  font-size: 45px;
  font-weight: bold;

}
h2 {
  text-align: center;
}
h3 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}
.animatedright {
  width: 15%;
  float: right;
}
.animatedleft {
  width: 15%;
  float: left;
}
